$border-radius:               1rem;

$info: #D5E1EF;

$font-family-sans-serif:  'Outfit', sans-serif; 

@media (max-width: 992px) {
    .alto-100 {
        margin: 2rem;
    }
}




@import "../node_modules/bootstrap/scss/bootstrap";